<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-row>
      <ion-col size="4">
        <ion-title style="font-size: xx-large;"> Servicios </ion-title>
      </ion-col>

      <ion-col size="5">
        <!-- Searchbar with cancel button shown on focus -->
        <ion-searchbar showCancelButton="focus"></ion-searchbar>
      </ion-col>

      <ion-col size="3">

        <ion-chip>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Nombre Usuario</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/agregarServicio" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-item href="#" class="ion-activated">
          <ion-icon style=" font-size: 52px;" name="bag-check-outline"></ion-icon>
          <ion-card-header>
            <ion-card-title>Número de orden</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Nombre del cliente
            <br> Status

          </ion-card-content>

          <ion-card-content>
            <ion-item href="#" class="ion-activated">
              <ion-icon name="eye-outline" slot="start"></ion-icon>
              <ion-label>Visualizar</ion-label>
            </ion-item>

            <ion-item href="#" class="ion-activated">
              <ion-icon name="pencil-outline" slot="start"></ion-icon>
              <ion-label>Editar</ion-label>
            </ion-item>

            <ion-item href="#" class="ion-activated">
              <ion-icon name="trash-outline" slot="start"></ion-icon>
              <ion-label>Eliminar</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-item href="#" class="ion-activated">
          <ion-icon style=" font-size: 52px;" name="bag-check-outline"></ion-icon>
          <ion-card-header>
            <ion-card-title>Número de orden</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Nombre del cliente
            <br> Status

          </ion-card-content>

          <ion-card-content>
            <ion-item href="#" class="ion-activated">
              <ion-icon name="eye-outline" slot="start"></ion-icon>
              <ion-label>Visualizar</ion-label>
            </ion-item>

            <ion-item href="#" class="ion-activated">
              <ion-icon name="pencil-outline" slot="start"></ion-icon>
              <ion-label>Editar</ion-label>
            </ion-item>

            <ion-item href="#" class="ion-activated">
              <ion-icon name="trash-outline" slot="start"></ion-icon>
              <ion-label>Eliminar</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-item>
      </ion-card>
    </ion-col>

  </ion-row>



</ion-content>
