<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="4">
                <ion-title style="font-size: xx-large;"> Clientes</ion-title>
            </ion-col>

            <ion-col size="5">
                <!-- Searchbar with cancel button shown on focus -->
                <ion-searchbar showCancelButton="focus"></ion-searchbar>
            </ion-col>

            <ion-col size="3">

                <ion-chip>
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <ion-label>Nombre Usuario</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/agregarCliente">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <ion-row>
        <ion-col size="1"></ion-col>

        <ion-col size="10">


            <!-- List of Sliding Items -->
            <ion-list>
                <ion-item-sliding >
                    <ion-item color="dark">

                        <ion-label>
                            <ion-icon name="person-outline"></ion-icon>
                            Nombre del Cliente - Teléfono
                        </ion-label>
                        <ion-item href="#" class="ion-activated" color="dark">
                            <ion-icon name="eye-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated" color="dark">
                            <ion-icon name="pencil-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated" color="dark">
                            <ion-icon name="trash-outline" ></ion-icon>

                        </ion-item>
                    </ion-item>

                </ion-item-sliding>
                <ion-item-sliding>
                    <ion-item>

                        <ion-label>
                            <ion-icon name="person-outline"></ion-icon>
                            Nombre del Cliente - Teléfono
                        </ion-label>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="eye-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="pencil-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="trash-outline" ></ion-icon>

                        </ion-item>
                    </ion-item>

                </ion-item-sliding>
                <ion-item-sliding>
                    <ion-item>

                        <ion-label>
                            <ion-icon name="person-outline"></ion-icon>
                            Nombre del Cliente - Teléfono
                        </ion-label>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="eye-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="pencil-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="trash-outline" ></ion-icon>

                        </ion-item>
                    </ion-item>

                </ion-item-sliding>
                <ion-item-sliding>
                    <ion-item>

                        <ion-label>
                            <ion-icon name="person-outline"></ion-icon>
                            Nombre del Cliente - Teléfono
                        </ion-label>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="eye-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="pencil-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="trash-outline" ></ion-icon>

                        </ion-item>
                    </ion-item>

                </ion-item-sliding>
                <ion-item-sliding>
                    <ion-item>

                        <ion-label>
                            <ion-icon name="person-outline"></ion-icon>
                            Nombre del Cliente - Teléfono
                        </ion-label>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="eye-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="pencil-outline" ></ion-icon>

                        </ion-item>
                        <ion-item href="#" class="ion-activated">
                            <ion-icon name="trash-outline" ></ion-icon>

                        </ion-item>
                    </ion-item>

                </ion-item-sliding>


            </ion-list>


        </ion-col>
        <ion-col size="1"></ion-col>
        <p> {{ datos }}</p>

    </ion-row>


</ion-content>
